<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TimeRecheck" value="10000" />
    <add key="TimeoutRequest" value="2000" />
    <add key="FileLogName" value="KeepWifiConnected.log" />
    <add key="UrlRequest" value="http://google.com/generate_204" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>